* {
margin: 0;
box-sizing: border-box;

}

  /* slider */
  * , ::before, ::after {
  box-sizing: border-box;
  margin : 0;
  padding: 0;
}


.slider-1 {
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}
.slider-1 .slider {
  animation: glisser 60s infinite;
  display: flex;
}

.slider .z {
   
  text-decoration: none ;
  flex-shrink: 0;
  width: 100%;
  display:flex;
  font-size: 15px;
  color: #F1F1F1;
}

.slider-container slider-1{
  height: 50px;
}

.x {
  display: contents;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}

.h{
  color: #F1F1F1;

  font-size: 18px;
}
.w {
  float: left;
}

@keyframes glisser {
  0%,
  15% {
  transform: translateX(0);
  }
  25%,
  40% {
  transform: translateX(-100%);
  }
  50%,
  65% {
  transform: translateX(-200%);
  }
  75%,
  90% {
  transform: translateX(-300%);
  }
  100% {
  transform: translateX(-400%);
  }
}
section.pub{
  background-color: #575b5b;
}

/* anime vf */

.contour{
  background-color: #575b5b;
  padding: 80px;
}

div.anime{
  height: 500px;
  background-color: #575b5b;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* oshi no ko */

.oshi-no-ko-saison-1{
  background-color: gray;
  padding:25px;


}

.episode{ 
  list-style-type: none;
  padding: 15px;
  background-color: blueviolet;
 

}

.jsp{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}


h1.oshi-no-ko-titre{
  font-size: 35px;
}

body{
border: none;
margin: 0px;
}
