#page1{
    width:auto;
    vertical-align: top;
    background: url("https://wallpapercave.com/wp/wp2081170.jpg" )  ;
  }
  
  
  
  section.hautpage1 {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  }
  
  section.hautpage1 .navig {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 20px;
  padding: 10px;
  
  }
  
  /*  bouton  */
  
  div.navig nav ul{
    padding-left: 15px;
    vertical-align: top;
    
  }
  nav ul li.bouton{
    list-style-type: none;
    display: inline-block;
  }
  nav ul li.bouton a{
    text-decoration: none ;
    padding:15px;
    background-color : #400080;
    color: white
  }
  nav ul li.bouton:hover a{
    transition: 0.5s all;
    background-color : white;
    color: #400080
  }
  
  
  /* logo */
  div.logo-haut {
    padding-top: px ;
    vertical-align: top; 
  }
  
  /* search  */
  
    .titre {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    color: rgb(254, 249, 249);
        
      }
  
  .img-search {
  height: 150px;
  }
  
  #searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
    }
  
    .select-box {
    display: flex;
    width: 350px;
    flex-direction: column;
    }
    
    .select-box .options-container {
    background: #7d7878;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.8s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
    }
    
    .selected {
    background: #71767c;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    
    order: 0;
    }
    
    .selected::after {
      content: "";
      background: url("img/arrow-down.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      height: 100%;
      width: 32px;
      right: 10px;
      top: 5px;
      transition: all 8.4s;
      }
      
  
      
  
      
      .select-box .option,
      .selected {
      padding: 12px 24px;
      cursor: pointer;
      }
      
      .select-box .option:hover {
        background: #414b57;
      }
      
      .select-box label {
      cursor: pointer;
      }
      
      .select-box .option .radio {
      display: none;
      }
  
  
  
       /* important */
  
       .select-box div.options-container.active{
          overflow: hidden;
          max-height: 240px;
          opacity: 1; 
          overflow-y: scroll; 
          margin:0
    }
     